@media only screen and (max-width: 768px) {

    .reason-content {
        padding: 30px 15px;
    }

    .blockquote-reason {
        padding: 13px 15px;
    }

    .search-ht-form {
        width: 65%;
        padding: 10px 2%;
    }

    .row-form {
        margin: 0 auto 10px auto;
    }

    .close-search-form {
        top: 2px;
    }

    .date-text {
        width: 100%;
    }

    .date-inpt {
        width: 100%;
    }

    .adults-count {
        width: 50%;
    }

    .child-count {
        width: 122px;
    }

    .child-h {
        width: 100%;       
    }

    .found-ht-btn {
        margin-top: 20px;
    }


}



@media only screen and (max-width: 680px) {
 
    .sedona-promo-h {
        font-size: 100px;
    }

    .reason-h {
        font-size: 18px;
        line-height: 23px;
    }

    .reason-description {
        margin-top: 15px;
        font-size: 13px;
        line-height: 19px;
    }

    .reason-content {
        width: 47%;
    }

    .blockquote-reason {
        width: 100%;
    }

    .sch-ht-h {
        font-size: 24px;
        line-height: 19px;
    }

    .sch-ht-btn {
        padding: 20px 40px;
        font-size: 18px;
        line-height: 23px;
    }


}


@media only screen and (max-width: 480px) {

    .promo-block {
        padding: 30% 0;
    }

    .wlc {
        font-size: 45px;
    }

    .t-gorg {
        font-size: 34px;
    }

    .sedona-promo-h {
        font-size: 85px;
    }

    .play-pause-btn {
        margin: 0;
    }

    .sch-ht-btn {
        padding: 15px 30px;
    }

    .sedona-promo-h {
        font-size: 70px;
    }

    .reason-content {
        padding: 4% 2%;
    }

    .search-ht-form {
        width: 95%;
        padding: 10px 2%;
    }

}

@media only screen and (max-width: 320px) {
    .wlc {
        font-size: 45px;
    }

    .sedona-promo-h {
        font-size: 69px;
    }
}
