/*@media screen and (-webkit-min-device-pixel-ratio:0) {


	::i-block-chrome, .navigation li {
		width: 19.6%;
	}

	::i-block-chrome, .blockquote-reason {
		width: 32.7%
	}

	::i-block-chrome, .visit-s, .social-icons, .logo-footer {
		width: 33%
	};

}
*/