@charset «utf-8»;
.i-love-steve-jobs {
    /* yep */ 
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #000000;
    font-family: PT Sans, sans-serif;
    font-size: 21px;
    font-weight: normal;
    /*text-rendering: optimizeLegibility;*/
}

html,
body {
    height: 100%;
    min-width: 100%;
    background-color: #ffffff;
}

.content {
    position: relative;
}

.wrapper {
    display: table; 
    height: 100%;
    min-width: 100%;
}

.content {
    display:table-row; 
    height:100%;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*-------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------------*/

.row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

*:focus {
    outline: none;
}

section {
    position: relative;
}

a {
    text-decoration: none;
}


/*-------------------------------------------*/
/* HEADER */
/*-------------------------------------------*/

header {
    background-color: #fff;
    width: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    font-size: 0;
    line-height: 0;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.37);
    box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.37);
}

.header-bg {
    background-color: none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.5)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 );



/*    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.5)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 );

*/

}

.menu-btn {
    display: none;
    position: fixed;
    right: 13px;
    top: 9px;
    font-size: 30px;
    line-height: 31px;
    text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
    z-index: 9;
}

.menu-btn:link,
.menu-btn:visited {
    color: #000000;
}

.menu-btn:hover {
    color: #81b3d2;
}

.menu-btn:active {
    color: #b2b2b2;
}

.navigation li  {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;    
    width: 20%;
    text-decoration: none;
    padding: 15px 1px;    
}

.nav-link {
    color: #000000;
     -webkit-transition: color 0.2s ease-out;
     -moz-transition: color 0.2s ease-out;
     -o-transition: color 0.2s ease-out;
     transition: color 0.2s ease-out;
}

.nav-link:link,
.nav-link:visited {
    color: #000000;
}

.nav-link:hover {
    /*color: #81b3d2;*/
    color: #81a5d2;
}

.nav-link:active {
    color: #b2b2b2;
}


.logo {
    background-color: none;
    position: relative;
}

.logo a {
    position: absolute;
    top: -13px;
    left: 0;
    width: 100%;
    height: 73px;
    background: url(../img/logo.png) no-repeat top center;
    z-index: 1000;
}


/*-------------------------------------------*/
/* Footer */
/*-------------------------------------------*/

footer {
    background: #ffffff;
    border-top: 1px solid #e5e5e5;
    font-size:0;
    line-height:0;
    position: relative;
    top: 450px;
    padding: 33px 0;
    z-index: 3;
    -webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow:    0px -5px 10px 0px rgba(0, 0, 0, 0.37);
    box-shadow:         0px -5px 10px 0px rgba(0, 0, 0, 0.37);

}

.visit-s,
.social-icons,
.logo-footer {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
}

.visit-s {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 63px;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    display: inline-block;
    vertical-align: baseline;
    font-size: 21px;
    line-height: 26px;
    font-weight: normal;    
    margin: 3px;
    padding: 13px 14px 15px 14px;

    -webkit-transition-property: color background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color background;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color background;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color background;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: color background;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}

.social-icons a:link,
.social-icons a:visited {
    color: #fff;
    background: #81b3d2;
}

.social-icons a:hover {
    background: #669ec0;
}

.social-icons a:active {
    color: #88b6d1;
    background: #5496bd;
}

.social-icons a i {
    display: block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}

.logo-footer {
    margin-top: -5px;
    text-align: right;
}

.logo-text,
.logo-htmlacademy {
    display: inline-block;
    vertical-align: middle;    
    font-size:0;
    line-height:0;
}

.logo-text {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.logo-htmlacademy {
    width: 135px;
    height: 35px;
    background-image: url(../../resources/img/sprite.png);
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 26px;
    margin-left: 8px;
    text-transform: uppercase;
    background-position: 0 -63px;
    cursor: pointer;
}

.logo-htmlacademy:link,
.logo-htmlacademy:visited {
    background-position: 0 -63px;
}

.logo-htmlacademy:hover {
    background-position: 0 -135px;
}

.logo-htmlacademy:active {
    background-position: 0 -200px;
}





